@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.HomePage>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
	Layout = "Master.cshtml";
	var logo = Model.Value<Umbraco.Cms.Core.Models.MediaWithCrops>("logo");
}
<!DOCTYPE HTML>
<html>
	<head>
		<title>@Model.Value("title", fallback: Fallback.ToAncestors)</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">
	</head>
	
	<body>

    <div class="container">
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
      <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
        @if (Model.HasValue("logo"))
        {
            <img class="bi me-2" width="40" height="32" src="@logo.Url()" alt="Logo" />   
        }
        
        <span class="fs-4">@Model.Value("title", fallback: Fallback.ToAncestors)</span>
      </a>
    </header>
  </div>
		
		<!-- Jumbotron -- BootStrap -->
		<div class="jumbotron text-center jumbotron-fluid">
			<div class="container">
				<h1 class="display-1">@Model.Value("title", fallback: Fallback.ToAncestors)</h1>
			</div>
		</div>
		
		<!-- Render the Block Grid  -->
		<div class="container">
			<div class="row section">
					@await Html.GetBlockGridHtmlAsync(Model, "Body")
			</div>
		</div>
		

		<!-- Footer -->
		<div class="container-fluid footer">
			<div class="container">

			</div>
		</div>
	
	<!-- Scripts -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	@* <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script> *@
	
	</body>
</html>